argparse
python-gnupg
requests
urllib3
six
# pexpect >=4.0 has dropped support for python 2.6, so for the tests at least
# we need a lower version
pexpect<4.0
# Needed but not in pip, install rpm-python
# will use system installed lib for the functional tests
#rpm-python
# Same with koji, you have to install the client
#koji
# koji deps
# Pinning due to https://github.com/pypa/setuptools/issues/581
# pyOpenSSL will pull setuptools
setuptools<=33.1.1
pyOpenSSL
# CVE-2018-10903 A flaw was found in python-cryptography versions between >=1.9.0 and <2.3.
cryptography>=2.3
# Non-python dependencies
#createrepo_c
#rpm-sign
future
